.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: auto;
  border-radius: 12px;

  &__track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  &__slide {
    min-width: 100%;
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: white;
    background: transparent;
    border: none;
    font-size: 2rem;
    padding: 0 12px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    .slider__dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 4px;
      background: #ccc;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background: #2e90fa;
      }
    }
  }
}

.plant-image .slider {
  height: 283px;
}
