@use '/src/assets/styles/mixins' as *;

.footer {
  @include flex-center(space-between, center);
  width: 100%;
  height: 44px;
  padding: 0px var(--spacing-xl) 0 var(--spacing-xl);
  flex-shrink: 0;
  border-top: 1px solid var(--border-primary);
  border-right: 1px solid var(--border-secondary);
  background-color: var(--bg-secondary-subtle);

  &__info {
    @include text-style(text-secondary-700, text-xs, 500, text-xs);
    span {
      @include text-style(text-placeholder, text-xs, 400, text-xs);
    }
  }

  &__year {
    @include text-style(text-secondary-700, text-xs, 500, text-xs);
    cursor: pointer;
  }
}
