@use '/src/assets/styles/mixins' as *;

.year-date-input {
  @include flex-center(space-between, center);
  height: 44px;
  background-color: var(--bg-primary);
  border-radius: var(--radius-md);
  border: 1px solid var(--border-primary);
  cursor: pointer;
  & > button {
    background-color: unset;
    @include flex-center(center, center);
    display: flex;
    padding: var(--spacing-md) var(--spacing-lg);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    align-self: stretch;
    &.right-arrow {
      rotate: 180deg;
    }
  }
  &-main {
    min-width: 80px;
    position: relative;
    height: 100%;
    @include flex-center(center, center);

    border-right: 1px solid var(--border-primary);
    border-left: 1px solid var(--border-primary);
    width: 100%;

    & > span {
      width: 100%;
      text-align: center;
      @include flex-center(center, center);
      padding: var(--spacing-lg) var(--spacing-xl);
      gap: 2px;
    }
    .custom-date-input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 10;
      padding: 0;
      & > svg {
        display: none;
      }
      input {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
