@use '/src/assets/styles/mixins' as *;

.dv-file-preview-card {
  position: relative;
  width: 100%;
  @include flex-center(space-between, center);
  flex-wrap: wrap;
  gap: var(--spacing-md);
  border: 1px solid var(--border-secondary);
  background: var(--bg-primary);
  padding: var(--spacing-xl);
  border-radius: var(--radius-xl);
  &__file {
    width: 100%;
    object-fit: contain;
  }
  &__file-info {
    @include flex-center(flex-start, flex-start);
    flex-direction: column;
    width: 100%;
    .dv-label-text {
      @include text-style(text-secondary-700, text-sm, 400, text-sm);
      width: 100%;
      span.file-name {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
      }
    }
  }

  &__file-container {
    @include flex-center(flex-start, center);
    width: 100%;
    position: relative;
    gap: var(--spacing-md);

    img {
      @include flex-center(center, center);
      width: 40px;
      height: 40px;
      border-radius: var(--radius-lg);
      object-fit: cover;
    }
  }

  &__file-preview {
    width: 550px;
    height: var(--spacing-10xl);
    border-radius: var(--radius-lg);
    object-fit: contain;
  }

  &__remove-button {
    @include flex-center(center, center);
    position: absolute;
    right: var(--spacing-md);
    top: var(--spacing-md);
    z-index: 10;
    width: var(--spacing-4xl);
    height: var(--spacing-4xl);
    border-radius: var(--radius-lg);
    border: 1px solid transparent;
    background: #fff;
    padding: var(--spacing-md);
    transition: all 0.2s linear;
    &:hover {
      border-color: var(--error-600);
      background: var(--error-600);
      color: #fff;
    }
  }
}
