:root {
  --base-white: #ffffff;
  --base-black: #000000;

  --gray-light-25: #fcfcfd;
  --gray-light-50: #f9fafb;
  --gray-light-100: #f2f4f7;
  --gray-light-200: #e4e7ec;
  --gray-light-300: #d0d5dd;
  --gray-light-400: #98a2b3;
  --gray-light-500: #667085;
  --gray-light-600: #475467;
  --gray-light-700: #344054;
  --gray-light-800: #182230;
  --gray-light-900: #101828;
  --gray-light-950: #0c111d;

  --gray-dark-25: #fafafa;
  --gray-dark-50: #f5f5f6;
  --gray-dark-100: #f0f1f1;
  --gray-dark-200: #ececed;
  --gray-dark-300: #cecfd2;
  --gray-dark-400: #94969c;
  --gray-dark-500: #85888e;
  --gray-dark-600: #61646c;
  --gray-dark-700: #333741;
  --gray-dark-800: #1f242f;
  --gray-dark-900: #161b26;
  --gray-dark-950: #0c111d;

  --brand-25: #f5faff;
  --brand-50: #eff8ff;
  --brand-100: #d1e9ff;
  --brand-200: #b2ddff;
  --brand-300: #84caff;
  --brand-400: #53b1fd;
  --brand-500: #2e90fa;
  --brand-600: #1570ef;
  --brand-700: #175cd3;
  --brand-800: #1849a9;
  --brand-900: #194185;
  --brand-950: #102a56;

  --error-25: #fffbfa;
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #fda29b;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;
  --error-950: #55160c;

  --warning-25: #fffcf5;
  --warning-50: #fffaeb;
  --warning-100: #fef0c7;
  --warning-200: #fedf89;
  --warning-300: #fec84b;
  --warning-400: #fdb022;
  --warning-500: #f79009;
  --warning-600: #dc6803;
  --warning-700: #b54708;
  --warning-800: #93370d;
  --warning-900: #7a2e0e;
  --warning-950: #4e1d09;

  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #dcfae6;
  --success-200: #abefc6;
  --success-300: #75e0a7;
  --success-400: #47cd89;
  --success-500: #17b26a;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #085d3a;
  --success-900: #074d31;
  --success-950: #053321;

  // Spacing
  --space-0: 0px;
  --space-0-5: 2px;
  --space-1: 4px;
  --space-1-5: 6px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;
  --space-20: 80px;
  --space-24: 96px;
  --space-32: 128px;
  --space-40: 160px;
  --space-48: 192px;
  --space-56: 224px;
  --space-64: 256px;
  --space-80: 320px;
  --space-96: 384px;
  --space-120: 480px;
  --space-140: 560px;
  --space-160: 640px;
  --space-180: 720px;
  --space-192: 768px;
  --space-256: 1024px;
  --space-320: 1280px;
  --space-360: 1440px;
  --space-400: 1600px;
  --space-480: 1920px;

  // Radius
  --radius-none: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-5xl: 32px;
  --radius-full: 9999px;

  // Font Sizes
  --font-size-text-xxs: 10px;
  --font-size-text-xs: 12px;
  --font-size-text-sm: 14px;
  --font-size-text-md: 16px;
  --font-size-text-lg: 18px;
  --font-size-text-xl: 20px;
  --font-size-display-xs: 24px;
  --font-size-display-sm: 30px;
  --font-size-display-md: 36px;
  --font-size-display-lg: 48px;
  --font-size-display-xl: 60px;
  --font-size-display-2xl: 72px;

  // Line Heights
  --line-height-text-xs: 18px;
  --line-height-text-sm: 20px;
  --line-height-text-md: 24px;
  --line-height-text-lg: 28px;
  --line-height-text-xl: 30px;
  --line-height-display-xs: 32px;
  --line-height-display-sm: 38px;
  --line-height-display-md: 44px;
  --line-height-display-lg: 60px;
  --line-height-display-xl: 72px;
  --line-height-display-2xl: 90px;

  --color-tree-error: #ce0000;
  --color-tree-error-light_2: #fcd901;
  --color-tree-error-light: #f7d6d6;
  --color-tree-warning: #ff7a00;
  --color-tree-warning-light: #ffead6;
  --color-tree-success: #008d1f;
  --color-tree-success-light: #ffffff;
}
