:root {
  --utility-success-50: #ecfdf3;
  --utility-success-200: #abefc6;
  --utility-success-500: #17b26a;
  --utility-success-700: #067647;

  --utility-warning-50: #fffaeb;
  --utility-warning-200: #fedf89;
  --utility-warning-500: #f79009;
  --utility-warning-700: #b54708;

  --utility-orange-50: #fef6ee;
  --utility-orange-200: #f9dbaf;
  --utility-orange-500: #ef6820;
  --utility-orange-700: #b93815;

  --utility-error-50: #fef3f2;
  --utility-error-200: #fecdca;
  --utility-error-500: #f04438;
  --utility-error-700: #b42318;
}
