@use '/src/assets/styles/mixins' as *;

.multi-conditional-status-action-buttons {
  @include flex-center(flex-start, center);
  gap: var(--spacing-xs);

  button {
    background: unset;
  }
}

.multi-conditional-status-table-header {
  width: 100%;
  @include flex-center(space-between, center);
  padding: var(--spacing-xl);
  border-bottom: 1px solid var(--border-secondary);

  & > span {
    @include text-style(text-secondary-700, text-md, 600, text-md);
  }

  .actions {
    @include flex-center(flex-end, center);
    gap: var(--spacing-xl);

    & > .custom-button-primary {
      .label {
        @include text-style(button-primary-fg, text-sm, 600, text-sm);
        white-space: nowrap;
      }
    }

    & .dropdown-container {
      .custom-button {
        border: 1px solid var(--button-secondary-color-border);
        color: var(--button-secondary-color-fg);
      }
    }
  }
}

.multi-conditional-status-form-content {
  @include flex-center(flex-start, flex-start);
  flex-direction: column;
  width: 100%;
  padding: var(--spacing-xl) var(--spacing-3xl);
  gap: 24px;
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 24px;

    .threshold {
      display: flex;
      align-items: flex-end;
    }
  }

  .operation {
    @include flex-center(flex-start, flex-start);
    flex-direction: column;
    gap: var(--spacing-md);
    align-self: stretch;
    position: relative;
    width: 100%;

    & > .label {
      @include text-style(text-secondary-700, text-sm, 500, text-sm);
    }

    & > .buttons {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      gap: var(--spacing-md, 8px);
    }
  }
}

.general-information-level {
  @include flex-center(flex-start, flex-start);
  flex-direction: column;
  gap: var(--spacing-3xl);
  width: 100%;
  max-height: 650px;
  overflow: hidden;
  overflow-y: scroll;

  .accordion {
    border-radius: var(--radius-md);
    border: 1px solid var(--border-secondary);
    background: var(--bg-primary-hover);

    &__header {
      height: 58px;

      .title {
        @include text-style(text-secondary-700, text-md, 600, text-md);
      }
    }

    &-active {
      border-radius: var(--radius-md);
      border: 1px solid var(--border-secondary);
      background: var(--bg-primary-hover);

      .accordion__header {
        padding-bottom: 0;

        .title-active {
          @include text-style(text-brand-secondary-700, text-md, 600, text-md);
        }
      }
    }
  }

  .accordion__details-expanded {
    max-height: 300px;
    overflow-y: auto;
    margin-top: var(--spacing-2xl);

    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #e9eef5;
      border-radius: 15px;
      margin: 200px 0;
      padding: 200px 0;
      border: 4px solid transparent;
      background-clip: padding-box;
    }
  }
}

.multi-conditional-status-subscription-info-form-content,
.multi-conditional-status-electric-info-form-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 24px;
  // height: 300px;
  // overflow-y: auto;
}

.multi-conditional-status-communication-info-form-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 24px;
  height: fit-content;

  .select-input {
    width: 100%;
    max-width: 450px; // Or whatever limit you want

    &__select {
      width: 100%;
      align-self: initial !important;
    }
  }

  .category-type {
    border-radius: var(--radius-sm);
    background: var(--gray-light-100);
    display: flex;
    padding: var(--spacing-sm) var(--spacing-lg);
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    width: fit-content;
    @include text-style(text-secondary-700, text-sm, 600, text-sm);
  }
}

.multi-conditional-status-form-content {
  width: 100%;

  .dv-plant-detail {
    @include flex-center(flex-start, flex-start);
    flex-direction: column;
    border-radius: var(--radius-md);
    background: var(--bg-primary_hover);
    width: 100%;
    border: 1px solid var(--border-secondary);

    &__header {
      @include flex-center(flex-start, flex-start);
      padding: var(--spacing-xl);
      flex-direction: column;
      gap: var(--spacing-xl);
      align-self: stretch;
      border-bottom: 1px solid var(--border-secondary);
      background: var(--bg-brand-primary);
      border-radius: var(--radius-md) var(--radius-md) 0 0;

      &-title {
        @include text-style(text-brand-secondary-700, text-md, 600, text-md);
      }
    }

    &__body {
      @include flex-center(flex-start, flex-start);
      // background: var(--bg-primary-hover);
      padding: var(--spacing-xl, 16px);
      flex-direction: column;
      gap: var(--spacing-3xl);
      width: 100%;

      &-table {
        @include flex-center(flex-start, flex-start);
        flex-direction: column;
        border-radius: var(--radius-xl);
        border: 1px solid var(--border-secondary);
        background: var(--bg-primary);
        box-shadow: 0px 1px 2px 0px var(--shadow-xs);
        width: 100%;

        &__header {
          @include flex-center(space-between, center);
          width: 100%;
          border-bottom: 1px solid var(--border-secondary);

          &-cell {
            @include flex-center(flex-start, center);
            height: 44px;
            padding: var(--spacing-lg) var(--spacing-3xl);
            gap: var(--spacing-lg);
            align-self: stretch;
            background: var(--bg-primary);
            border-left: 1px solid var(--border-secondary);
            width: 30%;
            min-width: 135px;
            // max-width: 150px;

            &:first-child {
              border-radius: var(--radius-xl) 0 0 0;
              border-left: 0;
            }

            &:last-child {
              border-radius: 0 var(--radius-xl) 0 0;
              width: 100px;
            }

            &-title {
              @include text-style(text-tertiary-600, text-xs, 600, text-xs);
            }
          }
        }

        &__body {
          @include flex-center(flex-start, center);
          flex-direction: column;
          width: 100%;

          &-column {
            @include flex-center(space-between, center);
            width: 100%;
            border-bottom: 1px solid var(--border-secondary);

            &:last-child {
              border-bottom: 0;
            }

            &-cell {
              @include flex-center(flex-start, flex-start);
              padding: var(--spacing-xl);
              gap: var(--spacing-lg);
              align-self: stretch;
              border-left: 1px solid var(--border-secondary);
              width: 30%;
              min-width: 135px;
              // max-width: 150px;

              &:first-child {
                border-left: 0;
              }

              &:last-child {
                width: 100px;
                @include flex-center(center, center);
              }

              &-button {
                width: 24px;
                height: 24px;
                background: transparent;
              }
            }
          }

          &-column-list {
            background: var(--bg-primary-hover);

            // .dv-plant-detail__body-table__body-column-cell {
            //   padding: 0;
            // }
          }
        }
      }
    }
  }
}
